.spin-demo {

    .lwh-demo-container {
        background-color: #ffeff3;
        border: 1px solid #e85e83;
        color: rgba(0,0,0,0.65);
        line-height: 1.5;
        border-radius: 4px;
        padding: 20px
    }
}