.carouse-demo {
    .demoContainer {
        overflow: hidden;
        &>div{
            h2 {
                border-bottom: 1px solid #eee;
            }
            margin: 20px 50px 50px;
            width: 400px;
            float: left;
        }
    }
    .base-item {
        background-color: #f17596;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center
    }
}