@mixin fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}
.lwh-pirate-modal {
    @include fixed;
    .lwh-modal-mask {
        @include fixed;
        background-color: rgba(0,0,0,0.65);
        filter: alpha(opacity=50);
    }
    .lwh-modal-warp {
        position: relative;
        margin: 100px auto;
        overflow: hidden;
        outline: 0;
        .lwh-modal-close {
            position: absolute;
            z-index: 1;
            width: 54px;
            height: 54px;
            font-size: 32px;
            line-height: 54px;
            text-align: center;
            right: 0;
            top: 0;
            span {
                display: inline-block;
                width: 32px;
                line-height: 32px;
                cursor: pointer;
                color: rgba(0,0,0,0.65);
                transform: rotate(45deg);
            }
        }
    }
    .lwh-modal-center {
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%)
    }
    .lwh-modal {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0,0,0,0.65);
        font-size: 14px;
        line-height: 1.5;
        list-style: none;
        position: relative;
        margin: 0 auto;
        padding-bottom: 24px;
        .lwh-modal-content {
            position: relative;
            background-color: #fff;
            background-clip: padding-box;
            border: 0;
            border-radius: 4px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.15);
            .lwh-modal-header {
                padding: 16px 24px;
                color: rgba(0,0,0,0.65);
                background: #fff;
                border-bottom: 1px solid #e8e8e8;
                border-radius: 4px 4px 0 0;
                .lwh-modal-title {
                    margin: 0;
                    color: rgba(0,0,0,0.85);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .lwh-modal-body {
                padding: 24px;
                font-size: 14px;
                line-height: 1.5;
                word-wrap: break-word;
            }
            .lwh-modal-footer {
                padding: 10px 16px;
                text-align: right;
                border-top: 1px solid #e8e8e8;
                border-radius: 0 0 4px 4px;
                button {
                    margin-left: 20px
                }
            }
        }
    }
}