body {
    color: #333;
    font-family: cursive,"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.6;
}
h1,h2,h3,h4,h5,h6 {
    word-break: break-all !important;
    text-align: left;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: .6em;
    margin-left: 0;
    line-height: 1.35;
    padding-left: 0;
}

ul, ol {
    padding-left: 30px;
}

li {
    line-height: 24px;
    list-style: disc;
}

table {
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 40px;
    background-color: #fff;
    border-collapse: collapse;
    color: #34495e;
}
th {
    padding: 8px 10px;
    text-align: left;
    font-weight: 400;
    background-color: #f5f7fa;
    border: 1px solid #eaeefb;
}
td {
    padding: 8px;
    border: 1px solid #eaeefb;
}

code {
    margin-bottom: 0;
    display: block;
    font-size: 13px;
    overflow-x: auto;
    font-weight: 400;
    line-height: 22px;
    border-radius: 3px;
    margin-bottom: 25px;
    position: relative;
    word-break: break-all;
    white-space: pre-wrap;
    background-color: #f5f7fa;
    color: #455a64;
    padding: 18px 10px 18px 20px;
    font-family: Source Code Pro,Monaco,Inconsolata,monospace;
}
