body {
    color: #333;
    font-family: cursive,"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.6;
}
.code-container {
    .code-title {
        background: #fff;
        margin: 10px 20px;
        border: solid 1px #ebebeb;
        border-radius: 3px;
        padding: 10px;
    }
}
