@import '../scss/common.scss';
.doc-app {
  display: flex;
  &-left {
    width: 240px;
    padding-top: 40px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    min-height: 200px;
  }
  &-doc {
    flex: 1;
    padding-top: 10px;
    margin-left: 240px;
    margin-right: 40px;
    min-height: 200px;
    padding-left: 40px;
    padding-right: 40px;
  }
}